// Greys Color: http://colorschemedesigner.com/#3H21T1BhWw0w0
@medGrey: rgb(90,92,95);
@darkGrey: rgb(69,69,71);
@darkBlue: rgb(29,41,62);
@lightGrey: rgb(169,171,175);
@lighterGrey: rgb(170,172,175);

// Primary Color: http://colorschemedesigner.com/#3H21TsOsOFfFf
@rceBlue: rgb(28,74,152);
@medBlue: rgb(46,67,102);
@navyBlue: rgb(5,34,82);
@lightBlue: rgb(100,144,220);
@lighterBlue: rgb(147,174,220);

// Complementary Color:
@medOrange: rgb(230,156,23);
@darkOrange: rgb(154,121,61);
@darkerOrange: rgb(123,81,4);
@lightOrange: rgb(246,193,98);
@lighterOrange: rgb(246,214,156);

// Text Color:
@textColor: #333;
@white: #fff;
@bodyColor: #fff;

//border-box Mixin
.border-box { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
  color: @textColor;
  background: #21638c;
  background: url("../images/truck-bike-darren.jpg") no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font: 16px normal;
  font-family: sans-serif;
}
#page {
  background-image: url("../images/dot-1px-3x3.gif");
}
#zone-header, #zone-preface, #zone-content {
  background:#ffffff;
  background: rgba(255,255,255,0.9);
}
h1, h2, h3 {
  font-family: 'SnicklesRegular';
}
h2.block-title {
  font-size: 3em;
  letter-spacing: 0.05em;
}

a {
  color: @lightBlue;
  &:link , &:visited {
    color: @lightBlue;
  }
  &:hover {
    color: @lighterBlue;
  }
}
#zone-user {
  background: rgba(250, 250, 250, 0.5);
}
#zone-menu {
  background: rgba(250, 250, 250, 0.5);
}
#zone-preface {
  padding-top: 15px;
  padding-bottom: 15px;
}
#zone-content {
  
}
#zone-postscript {
  background: @medGrey;
  height: 100px;
}
.region-header-first {
  height: 300px;
}
.region-branding {
  position: relative;
}
.block-delta-blocks-branding {
  position: absolute;
  top: -42px;
  left: -26px;
  z-index: 100;
  img {
    box-shadow:0 5px 10px #333333;
  }
}
.zone-user .content {
  padding: 0.3em;
  margin-bottom: 10px;
}
.zone-menu .content {
  padding: 1em;
}
.block-system-main-menu .content, .block-system-user-menu .content {
  text-align: right;
}
.menu {
  display: inline;
  padding-left: 0;
  li {
    display: inline;
    list-style-type: none;
    padding: 0 0.5em;
  }
}
.node-previous-jobs.node-teaser {
  margin-bottom: 1em;
  background: #fff;
  h2 {
    font-size: 3em;
  }
  .group-left {
    font-size: 1em;
    width: 29%;
  }
  .group-right {
    width: 71%;
  }
  .field-items {
    img {
      float: left;
      height: 120px;
      width: 150px;
    }
    .field-item:first-of-type img {
      height: 240px !important;
      width: auto;
    }
  }
}
table.views-view-grid {
  border: none;
}
.node-previous-jobs.view-mode-full {
  //Previous Jobs
  .field-name-field-img-gallery {
    .field-item {
      float: left;
      margin: 5px;
    }
  }
}
.testimonial-block {
  color: @medGrey;
  font-size: 0.8em;
  td {
    width: 50%;
    text-align: justify;
    vertical-align: text-top;
    padding: 0 10px;
  }
  tr:hover {
    background: none;
  }
  h3{
    font-size: 1.1em;
    color: @medGrey;
    margin-bottom: 0px;
    a {
      color: @medGrey;
      text-decoration: none;
    }
  }
  .field-name-body {
    p {
      margin-bottom: 0;
    }
  }
  .field-name-field-testament-authour {
    text-align: right;
    margin: 0;
    .field-item:before {
      content: "- ";
    }
  }
}
//Contact Us block
.region-header-second {
  .block {
    margin-top: 20px;
    margin-bottom: 20px;
    .block-inner {
      position: relative;
      background: linear-gradient(bottom, @medOrange 0%, @lightOrange 100%);
      background: -o-linear-gradient(bottom, @medOrange 0%, @lightOrange 100%);
      background: -moz-linear-gradient(bottom, @medOrange 0%, @lightOrange 100%);
      background: -webkit-linear-gradient(bottom, @medOrange 0%, @lightOrange 100%);
      background: -ms-linear-gradient(bottom, @medOrange 0%, @lightOrange 100%);
      font-size: 2em;
      border-radius: 10px;
      padding: 5px 5px 0 5px;
      text-shadow: 1px 1px 1px rgba(51, 51, 51, 0.5), 0px -1px 0px rgba(150, 150, 150, 0.5);
      .block-title {
        width: 200px;
        margin: 0 auto;
        color: @lighterOrange;
        font-size: 1.5em;
        letter-spacing: normal;
        text-align: center;
        text-shadow: 0px -1px 0px rgba(51, 51, 51, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.5);
      }
      .content {
        position: absolute;
        top: 9px;
        width: 100%;
        color: @white;
        font-size: 1em;
        a {
          color: @white;
          text-decoration: none;
        }
        li:first-child {
          float: left;
          font-size: 1.2em;
          top: 7px;
          letter-spacing: -0.06em;
        }
        li:last-child {
          float: right;
        }
      }
    }
  }
}
#section-footer {
  .content {
    padding: 20px 0 40px;
  }
  .menu {
    display: block;
    li {
      display: block;
    }
  }
}