// Greys Color: http://colorschemedesigner.com/#3H21T1BhWw0w0
@medGrey: rgb(90,92,95);
@darkGrey: rgb(69,69,71);
@darkBlue: rgb(29,41,62);
@lightGrey: rgb(169,171,175);
@lighterGrey: rgb(170,172,175);

// Primary Color: http://colorschemedesigner.com/#3H21TsOsOFfFf
@rceBlue: rgb(28,74,152);
@medBlue: rgb(46,67,102);
@navyBlue: rgb(5,34,82);
@lightBlue: rgb(100,144,220);
@lighterBlue: rgb(147,174,220);

// Complementary Color:
@medOrange: rgb(230,156,23);
@darkOrange: rgb(154,121,61);
@darkerOrange: rgb(123,81,4);
@lightOrange: rgb(246,193,98);
@lighterOrange: rgb(246,214,156);

// Text Color:
@textColor: #333;
@white: #fff;
@bodyColor: #fff;


@font-face {
    font-family: 'SnicklesRegular';
    src: url('Snickles-webfont.eot');
    src: url('Snickles-webfont.eot?#iefix') format('embedded-opentype'),
         url('Snickles-webfont.woff') format('woff'),
         url('Snickles-webfont.ttf') format('truetype'),
         url('Snickles-webfont.svg#SnicklesRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
ul.primary li.active a {
  background-color: @medGrey;

}
//border-box Mixin
.border-box { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
ul li.pill {
  margin: 0;
  padding: 0;
  display: inline-block;
}
.pill {
  display: inline-block;
  a {
    padding: 4px 8px;
    background: rgb(169,171,175, 0.5);
    border-radius: 5px;
    display: inline-block;
    margin: 4px;
    text-decoration: none;
    white-space: nowrap;
  }
  a:hover {
    background: white;
  }
}
.links {
  .pill;
  a {
    padding: 8px 12px;
  }
}
.background {
  background: url("../images/background.jpg") no-repeat top center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  color: @textColor;
  background: @lighterGrey;
  font: 16px normal;
  font-family: georgia, serif;
}
#page {
  border-top: 4px solid @lighterGrey;
}
.zone-preface, .zone-content {
  color: @white;
  a {
    color: @white;
  }
}
.tabs {
  a {
    color: @medGrey;
  }
}
#page-title {
  font-size: 5em;
}
h1, h2, h3 {
  font-family: 'SnicklesRegular', georgia, serif;
  font-weight: normal;
  letter-spacing: normal;
}
h2.block-title {
  font-size: 3em;
  letter-spacing: 0.05em;
}
h2 {
  font-size: 3em;
}
.content h3 {
  font-size: 2.2em;
}
.content a.active {
  color: @white !important;
}
.content {
  p {
    a {
      color: @white;
    }
    &:visited {
      color: @lightBlue;
    }
}
}
.content a:hover {
  color: @rceBlue;
}
.zone-user-wrapper {
  background: @lighterGrey;
}
.zone-menu-wrapper, .zone-user-wrapper, .zone-header-wrapper {
  //background-image: url("../images/dot-1px-3x3.gif");
  //background-attachment: fixed;
  //background-repeat: repeat;
}
.zone-header-wrapper {
  padding-bottom: 20px;
}
.zone-menu-wrapper {
  //background-image: url("../images/blue-wood2.jpeg");
  /* IE9 SVG, needs conditional override of 'filter' to 'none'
  http://www.colorzilla.com/gradient-editor/#3667c2+0,3667c2+100&0.7+0,0.7+100;Custom
  */
  //background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM2NjdjMiIgc3RvcC1vcGFjaXR5PSIwLjciLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzM2NjdjMiIgc3RvcC1vcGFjaXR5PSIwLjciLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
  //background: -moz-linear-gradient(top,  rgba(54,103,194,0.7) 0%, rgba(54,103,194,0.7) 100%), url("../images/blue-wood2.jpeg"); /* FF3.6+ */
  //background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(54,103,194,0.7)), color-stop(100%,rgba(54,103,194,0.7))), url("../images/blue-wood2.jpeg"); /* Chrome,Safari4+ */
  //background: -webkit-linear-gradient(top,  rgba(54,103,194,0.7) 0%,rgba(54,103,194,0.7) 100%), url("../images/blue-wood2.jpeg"); /* Chrome10+,Safari5.1+ */
  //background: -o-linear-gradient(top,  rgba(54,103,194,0.7) 0%,rgba(54,103,194,0.7) 100%), url("../images/blue-wood2.jpeg"); /* Opera 11.10+ */
  //background: -ms-linear-gradient(top,  rgba(54,103,194,0.7) 0%,rgba(54,103,194,0.7) 100%), url("../images/blue-wood2.jpeg"); /* IE10+ */
 // background: linear-gradient(to bottom,  rgba(54,103,194,0.7) 0%,rgba(54,103,194,0.7) 100%), url("../images/blue-wood2.jpeg"); /* W3C */
 // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b33667c2', endColorstr='#b33667c2',GradientType=0 ); /* IE6-8 */
 // background-repeat: repeat;
  .zone-menu {
    min-height: 100px;
    .block-main-menu {
      padding: 1em 0;
      a {
        text-shadow: 0px -1px 0px rgba(51, 51, 51, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.5);
        font-family: 'SnicklesRegular', sans-serif;
        text-decoration: none;
        letter-spacing: 1px;
        font-size: 1.8em;
        text-shadow: 0 0 10px black;
        color: @white;
      }
      .menu .last {
        padding-right: 0;
      }
    }
    .block-user-menu {
      a {
        color: @lightGrey;
        text-shadow: 0px -1px 0px rgba(51, 51, 51, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.5);
        font-family: 'SnicklesRegular', sans-serif;
        text-decoration: none;
        letter-spacing: 1px;

      }
    }
  }
}
.section-content {
  position: relative;
  background-color: @lightBlue;
  background: url(../images/denim.png);
  padding-bottom: 50px;
  min-height: 600px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}
.section-header {
  .background;

  box-shadow: inset 0 -10px 41px -7px rgba(0,0,0,0.9);
  min-height: 300px;
  //position: relative;
  //z-index: -1;
}
#zone-preface {
  padding-top: 15px;
  padding-bottom: 15px;
}
.sectiona-content {
  position: relative;
  box-shadow: 0 0 10px black;
  z-index: 2;
}
.section-footer {
  .background;
  background-position: bottom center;
  h2 {
    color: @lighterGrey;
    font-size: 2em;
  }
  .zone-wrapper{
    background: rgb(51, 51, 51);
    background: rgba(0, 0, 0, 0.75);
    background: -webkit-linear-gradient(top,rgba(0, 0, 0, 0.8) 0,rgba(0, 0, 0, 0.75) 40px);
    background: -moz-linear-gradient(top,rgba(0, 0, 0, 0.8) 0,rgba(0, 0, 0, 0.75) 40px);
    padding: 60px 0 40px 0;
  }
  .content {
    //padding: 20px 0 40px;
      ul {
      margin: 0;
      //display: block;
      li {
        display: block;
        margin-left: 0;
        padding-left: 0;
      }
      a {
        //color: @white;
        text-shadow: 0px -1px 0px rgba(51, 51, 51, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.5);
        font-family: 'SnicklesRegular', sans-serif;
        text-decoration: none;
        letter-spacing: 1px;
        font-size: 1.8em;
        text-shadow: 0 0 10px black;
      }
    }
  }
}
.region-branding {
  position: relative;
}
.block-delta-blocks-branding {
  position: absolute;
  top: 25px;
  z-index: 100;
  img {
    box-shadow:0 5px 10px #333333;
  }
}
.zone-user .content {
  padding: 0.3em;
  margin-bottom: 10px;
}
.block-system-main-menu .content, .block-system-user-menu .content {
  text-align: right;
}
.menu {
  display: inline;
  padding-left: 0;
  li {
    display: inline;
    list-style-type: none;
    padding: 0 0.5em;
  }
}
.view-front-page-slideshow {
  position: relative;
  left: -10px;
  width: 960px;
  h2 {
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
  }
}
.relative {
  position: relative;
}
.abs_bottom {
  position: absolute;
  bottom: 0;
}
.node-previous-jobs.node-teaser {
  margin-bottom: 20px;
  border-bottom: 2px dashed white;
}
.node-previous-jobs {
  h2 {
    text-indent: 5px;
    //font-size: 3em;
    a {
      text-decoration: none;
    }
  }
  .group-left {
    font-size: 1em;

  }
  .group-right {

  }
  .field-name-field-service-ref {
    margin-bottom: 20px;
    .field-item {
      .pill;
    }
  }
  .field-name-field-img-gallery {
    //position: relative;
    .border-box;
    .field-name-field-img-gallery-field-item, img {
      float: left;
      height: 120px;
      width: 150px;
      position: relative;
    }
    .field-name-field-img-gallery-field-item {
      margin-bottom: 10px;
    }
    .field-name-field-img-gallery-field-item::before {
      bottom: 0;
      content: '';
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 1;
      box-shadow: 0 0 10px rgba(0,0,0,0.8) inset;
      //border: 1px solid rgba(0, 0, 0, 0.2);
    }
    .field-name-field-img-gallery-field-item::after {
      bottom: 0;
      content: '';
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      //box-shadow: 0 0 10px black inset;
      border: 1px solid rgba(0, 0, 0, 0.2);
    }
    .field-name-field-img-gallery-field-item:first-of-type {
      height: 250px !important;
      width: auto;
      margin-right: 10px;
      margin-bottom: 10px;
      margin-left: 0;
    }
    .field-name-field-img-gallery-field-item:first-of-type img {
      height: 250px !important;
      width: auto;
    }
  }
  .field-name-body {
    line-height: 150%;
    font-size: 1.5em;
  }
}
.node-previous-jobs.view-mode-full {
  //Previous Jobs
  .field-name-body {
    font-size: 1.25em;
    line-height: 1.3em;
  }
  .field-name-field-img-gallery {
    .field-item {
      display: inline-block;
      margin: 5px;
    }
  }
}
// TODO: See if note paper effect woud work for the testimonals;
.region-sidebar-second {

}
.testimonial-block, .view-testimonials {
    border-left: 1px dashed white;
  .border-box;
  padding-left: 20px;
  height: 100%;
  .border-box;
  .view-content {
    font-size: 1.3em;
  }
  .views-row {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 2px dashed white;
  }
  h3{
    font-size: 2em;
    color: @white;
    margin-bottom: 0px;
    font-family: 'SnicklesRegular', georgia, serif;
    a {
      color: @white;
      text-decoration: none;
    }
  }
  .field-name-body {
    font-family: georgia;
    line-height: 1.7em;
    p {
      margin-bottom: 10px;

    }
  }
  .field-name-field-testament-authour {
    text-align: right;
    margin: 0;
    float: right;
    .field-item:before {
      content: "- ";
    }
  }
}
.block-view-services-block {
  background: rgba(28,74,152, 0.55);
  border-radius: 10px;
  box-shadow: 1px 5px 7px rgba(0, 0, 0, 0.3);
  padding: 20px;
  box-sizing: border-box;
  margin-left: 80px;
  margin-right: 80px;
  color: @lightGrey;

}
.block-1 {

  .block-inner {
    .block-title {
      float: left;
      font-size: 2.5em;
      padding: 5px 0;
      color: @white;
    }
    .content {
      color: @white;
      font-size: 1.6em;
      text-shadow: 0 0 10px black;
      ul {
        margin-bottom: 0;
        li {
          float: right;
          list-style: none;
          padding: 5px 0;
        }
        li:last-child {
            font-size: 0.9em;
        }
      }
      a {
        color: @white;
        text-decoration: none;
        font-size: 1em;
      }
    }
  }
}
