@font-face {
  font-family: 'SnicklesRegular';
  src: url('Snickles-webfont.eot');
  src: url('Snickles-webfont.eot?#iefix') format('embedded-opentype'), url('Snickles-webfont.woff') format('woff'), url('Snickles-webfont.ttf') format('truetype'), url('Snickles-webfont.svg#SnicklesRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.border-box {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  color: #333333;
  background: #21638c;
  background: url("../images/truck-bike-darren.jpg") no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font: 16px normal;
  font-family: sans-serif;
}
#page {
  background-image: url("../images/dot-1px-3x3.gif");
  background-attachment: fixed;
  background-repeat: repeat;
}
#zone-header,
#zone-preface,
#zone-content {
  background: #ffffff;
  background: rgba(255, 255, 255, 0.9);
}
h1,
h2,
h3 {
  font-family: 'SnicklesRegular';
}
h2.block-title {
  font-size: 3em;
  letter-spacing: 0.05em;
}
a {
  color: #6490dc;
}
a:link,
a:visited {
  color: #6490dc;
}
a:hover {
  color: #93aedc;
}
#zone-user {
  background: rgba(250, 250, 250, 0.5);
}
#zone-menu {
  background: rgba(250, 250, 250, 0.5);
}
#zone-preface {
  padding-top: 15px;
  padding-bottom: 15px;
}
#zone-postscript {
  background: #5a5c5f;
  height: 100px;
}
.region-header-first {
  height: 300px;
}
.region-branding {
  position: relative;
}
.block-delta-blocks-branding {
  position: absolute;
  top: -42px;
  left: -26px;
  z-index: 100;
}
.block-delta-blocks-branding img {
  box-shadow: 0 5px 10px #333333;
}
.zone-user .content {
  padding: 0.3em;
  margin-bottom: 10px;
}
.zone-menu .content {
  padding: 1em;
}
.block-system-main-menu .content,
.block-system-user-menu .content {
  text-align: right;
}
.menu {
  display: inline;
  padding-left: 0;
}
.menu li {
  display: inline;
  list-style-type: none;
  padding: 0 0.5em;
}
.node-previous-jobs.node-teaser {
  margin-bottom: 1em;
  background: #fff;
}
.node-previous-jobs.node-teaser h2 {
  font-size: 3em;
}
.node-previous-jobs.node-teaser .group-left {
  font-size: 1em;
  width: 29%;
}
.node-previous-jobs.node-teaser .group-right {
  width: 71%;
}
.node-previous-jobs.node-teaser .field-items img {
  float: left;
  height: 120px;
  width: 150px;
}
.node-previous-jobs.node-teaser .field-items .field-item:first-of-type img {
  height: 240px !important;
  width: auto;
}
table.views-view-grid {
  border: none;
}
.node-previous-jobs.view-mode-full .field-name-field-img-gallery .field-item {
  float: left;
  margin: 5px;
}
.testimonial-block {
  color: #5a5c5f;
  font-size: 0.8em;
}
.testimonial-block td {
  width: 50%;
  text-align: justify;
  vertical-align: text-top;
  padding: 0 10px;
}
.testimonial-block tr:hover {
  background: none;
}
.testimonial-block h3 {
  font-size: 1.1em;
  color: #5a5c5f;
  margin-bottom: 0px;
}
.testimonial-block h3 a {
  color: #5a5c5f;
  text-decoration: none;
}
.testimonial-block .field-name-body p {
  margin-bottom: 0;
}
.testimonial-block .field-name-field-testament-authour {
  text-align: right;
  margin: 0;
}
.testimonial-block .field-name-field-testament-authour .field-item:before {
  content: "- ";
}
.region-header-second .block {
  margin-top: 20px;
  margin-bottom: 20px;
}
.region-header-second .block .block-inner {
  position: relative;
  background: linear-gradient(bottom, #e69c17 0%, #f6c162 100%);
  background: -o-linear-gradient(bottom, #e69c17 0%, #f6c162 100%);
  background: -moz-linear-gradient(bottom, #e69c17 0%, #f6c162 100%);
  background: -webkit-linear-gradient(bottom, #e69c17 0%, #f6c162 100%);
  background: -ms-linear-gradient(bottom, #e69c17 0%, #f6c162 100%);
  font-size: 1.5em;
  border-radius: 10px;
  padding: 5px 5px 0 5px;
  text-shadow: 1px 1px 1px rgba(51, 51, 51, 0.5), 0px -1px 0px rgba(150, 150, 150, 0.5);
}
.region-header-second .block .block-inner .block-title {
  width: 200px;
  margin: 0 auto;
  color: #f6d69c;
  font-size: 1.5em;
  letter-spacing: normal;
  text-align: center;
  text-shadow: 0px -1px 0px rgba(51, 51, 51, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.5);
}
.region-header-second .block .block-inner .content {
  position: absolute;
  top: 9px;
  width: 100%;
  color: #ffffff;
  font-size: 1em;
}
.region-header-second .block .block-inner .content a {
  color: #ffffff;
  text-decoration: none;
}
.region-header-second .block .block-inner .content li:first-child {
  float: left;
  font-size: 1.2em;
  top: 7px;
  letter-spacing: -0.06em;
}
.region-header-second .block .block-inner .content li:last-child {
  float: right;
}
#section-footer .content {
  padding: 20px 0 40px;
}
#section-footer .menu {
  display: block;
}
#section-footer .menu li {
  display: block;
}
